body {
  background-color: lightcoral;
}

h1 {
  text-align: center;
}

.address-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.address-list-item {
  text-align: center;
  margin-bottom: 3px;
}

.contact-name {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  cursor: pointer;
}

.address-form {
  margin: 0 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-contact-button {
  margin-top: 10px;
  margin-bottom: 10px;
}